<p><%= link_to 'Home Page', root_path %></p>

<%= link_to 'Admin Index', '/admin' %>
<%= link_to 'Create User', new_user_path %>
<% @users.each do |user| %>
<ul>
	<li><%= user.name %></li>
	<li><%= user.email %></li>
	<li>Admin: <%= user.admin? %></li>
	<li><%= link_to 'Show', user %></li>
</ul>
<% end %>
<p><%= link_to 'Home Page', root_path %></p>
