<%= form_for @image do |form| %>
<div class="field">
	<%= form.label :name %>
	<%= form.text_field :name %>
</div>
<div class="field">
	<%= form.label :screen_cap %>
	<%= form.file_field :screen_cap %>
</div>
<div class="field">
	<%= form.label :selected %>
	<%= form.check_box :selected %>
</div>
<div>
	<%= form.submit %>
</div>
<% end %>